@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama{
  font-family: "Miama" , sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
                                           
}

/* Shared Styles */
.display-flex {
    display: flex;
}
.display-grid{
  display: grid;
}
.bg-clr{
    background-color: black;
    
}
.regular-text{
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  font-size: 1rem;
}
.shared-btn{
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 16px 47px;
  border-radius: 46px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
}
.text-1{
  color: white;
  font-weight: 900;
  font-size: 3rem;
}
.text-2{
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  font-size: 0.875rem;
}
.text-3{
  color: white;
  font-weight: 900;
  font-size: 1.75rem;

}

/* Head Style */
.head-bg-clr{
  background: linear-gradient(
          180deg,
          #111111 0%,
          rgba(119, 119, 119, 0) 100%
        );
  

}
/* Nav Style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-right: 190px;
    margin-left: 190px;
  
  }
  .brand {
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
  
  }

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 120%;
  
  }
.text-white{
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
}

.navbar ul {
  gap: 47px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.473);
  border-radius: 39px;
    
  }
  .first{
  color: rgb(255, 255, 255);
  border-radius: 46px;
  background: rgb(230, 83, 60);
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
  padding: 10px 25px;

  }
  .last{
    margin-right: 20px;
  }

  .nav-menu {
    display: none;
  }

  /* Banner Related Styles */
  .banner{
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px;
  }

  .banner-text{
    color: white;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 50px;
  }
  .shape{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 5rem;
  }
  .dwn-btn{
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 16px 47px;
    border-radius: 46px;
    background-color: black;
    margin-left: 18px;
    border-color: white;
    }

  .banner-img{
    position: relative;
    margin-top: 80px;
  }
  /* .banner-btn{
    position: absolute;
    width: 100%;
  } */
  


  .btn-1{
    position: absolute;
    width: 193px;
    height: 110px;
    padding: 17px 30px;
    background-color: rgba(111, 111, 112, 0.233);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: -468px;
    margin-left: 210px;
    border-radius: 12px;
    border: none;

  }
  .video-1{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }
  .text-video-1{
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 0.82rem;
  }

  .circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
  }
  .btn-display{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
  }
  .bt2-text{
    text-align: right;
    margin-top: -60px;
  }
  

  .btn-2{
    position: absolute;
    color: white;
    height: 110px;
    width: 220px;
    padding: 17px 23px;
    background-color: rgba(111, 111, 112, 0.233);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    margin-left: -105px;
    margin-top: -200px;
    border: none;
  }


  .video-2{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }
  .text-video-2{
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 1rem;
  }

/* Habbit Styles */
.habbits-container{
  margin: 100px auto;
}
.text-habbit{
  text-align: center;
  max-width: 671px;
  margin: 0 auto 58px;
}
.habbit-content{
  gap: 150px;
  justify-content: center;
  align-items: center;

}
.habbit{
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.habbit-img{
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.habbit-h-text{
  color: white;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: 6px;
}
.habbit-p-text{
  color: rgba(255, 255, 255, 0.74);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* Run Extra Styles */
.run-extra{
  margin: 0 auto;
  padding: 50px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  margin: 30px 190px 30px 190px;
  justify-content: space-between;
  align-items: center;
} 
.run-img{
  max-width: 500px;
  max-height: 520px;
  border-radius: 18px;
}
/* Extra feature */
.features-div{
  margin: 50px 190px 50px 190px ;
  justify-content: space-between;
}
.youtube-video{
  border-radius: 25px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}
.features-text{
  text-align: center;
  margin-right: 150px;
  margin-top: 50px;
}
.brand-3{
  color: white;
    font-style: italic;
    font-weight: 800;
    font-size: 4.375rem;
}

/* BMI Calculator */
.bmi-text{
  max-width: 671px;
  height: 120px;
  margin-left: 350px;
  margin-bottom: 40px;
}
.bmi-decor{
  background-color: rgb(34, 34, 34);
  padding: 52px 0;
}
.clac-content{
  justify-content: space-between;
  margin: 30px 190px 30px 190px;
}
.t-color{
  border-collapse: collapse;
  /* border-style: solid;
  border-color: rgba(255, 255, 255, 0.74); */
}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.74) ;
  padding: 7px 12px;
}
.t-head{
  color: white;
  text-align: left;
}
.form-container {
  flex-direction: column;
  gap: 12px;
  margin-top: 34px;
  line-height: 22px;
}

.input-group {
  display: flex;
  gap: 12px;
  margin-top: 5px ;
  line-height: 22px;
}

input[type="text"],
select {
  padding: 13px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  outline: none;
  width: 50%;
}

input[type="text"]::placeholder,
select option {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
}

select {
  padding: 13px 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  border: none;
  margin-top: 5px;
}

#activity-factor {
  width: 100%;
}
#calc-btn{
  margin-top: 30px;
}

/* Meet Team */
.text-meet{
  text-align: center;
}

.team-img{
  margin: 30px 190px 30px 190px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  max-width: 350px;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 50px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  z-index: 0;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.info h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.info p {
  margin: 5px 0 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

/* Footer */

.footer{
  margin-top: 30px;
  padding: 0px 190px 0px 190px;
  background-color: rgba(72, 72, 75, 0.322) ;
  
}
.footer-1{
  justify-content: space-between;
}
.brand-2{
  color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 4.375rem;
    margin-bottom: -15px;

}
.head-get-started{
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: -10px;
}
.list-text{
  text-align: left;
  color: rgba(255, 255, 255, 0.671);
  font-weight: 400;
  font-size: 1.5rem;
  list-style: none;
  margin-left: -30px;
}
.reserved{
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.border{
border-top: 0.25px solid rgba(255, 255, 255, 0.103);
margin-top: 30px;
align-items: center;
}

/* Responsive Section For mobile max 576px*/
@media screen and (max-width: 576px){
  .navbar{
    display: flex;
    justify-content: space-between;
    padding: 52px 30px;
    margin: 0;

  }
  .nav-links{
    display: none;
  }
  .nav-menu{
  display: inline;
  display: flex;
  width: 32px;
  height: 5px;
  margin: 3px 0px;
  background-color: rgba(255, 255, 255, 0.856);
  }
  .club{
    display: none;
  }
  .banner{
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .banner-text{
    padding: 0px;
    margin: 0px;
  }
  .banner-text h3 {
    max-width: 350px;
    font-size: 2.25rem;

  }
  .banner-text p {
    max-width: 274px;
  }
  .dwn-btn{
    padding: 15px;
  }
  .bannet-btn{
    justify-content: space-evenly;
  }
  #btnid-1{
    margin-top: -550px;
    margin-left: 183px;
  }
  .btn-2{
    margin-left: 0px;
    margin-bottom: 350px;

  }
  /* .banner-img{
    margin-left: -200px;
  } */
  .habbit-container {
    padding: 0 10px;
    margin: 0 20px;
  }
  .habbit-content {
    display: flex;
    flex-direction: column;
  }
  .habbit{
    padding: 0px 52px;
  }
  .run-extra{
    flex-direction: column;
    margin: 66px 20px;
    padding: 33px 35px;
    gap: 31px;
  }
  .run-img{
    max-width: 100%;
  }
  
  .features-div{
    flex-direction: column;
    margin: 66px 20px;
    padding: 33px 35px;
    gap: 31px;
  }
  .youtube-video{
    grid-template-columns: 1fr;
  }
  .brand-2{
    font-size: 3rem;
    font-weight: 600;
  }
  .bmi-decor{
    padding: 34px 0 43px;
  }
  .clac-content{
    flex-direction: column;
    margin: 0 20px;
    gap: 42px;
  }
  .bmi-text{
    margin: 0 20px 32px;
    height: 100%;

  }
  .team-img{
    grid-template-columns: repeat(1, 1fr);
    margin: 0px;
    gap: 10px;
  }
  .card {
    max-width: 100%;
    margin: 0px;
    gap: 10px;
  }
  .meet-team{
    margin: 66px 20px;
  }
  .text-meet{
    max-width: 100%;
    margin: 0px;
  }
  .footer{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .footer-1{
    flex-direction: column;

  }
  .reserved{
    max-width: 100%;
    padding-bottom: 20px;
  }

}
