@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.miama{
  font-family: "Miama" , sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
                                           
}

/* Shared Styles */
.display-flex {
    display: flex;
}
.bg-clr{
    background-color: black;
    
}
.regular-text{
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  font-size: 1rem;
}
.shared-btn{
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 16px 47px;
  border-radius: 46px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
}
.text-1{
  color: white;
  font-weight: 900;
  font-size: 3rem;
}
.text-2{
  color: rgba(255, 255, 255, 0.74);
  font-weight: 400;
  font-size: 0.875rem;
}
.text-3{
  color: white;
  font-weight: 900;
  font-size: 1.75rem;

}

/* Head Style */
.head-bg-clr{
  background: linear-gradient(
          180deg,
          #111111 0%,
          rgba(119, 119, 119, 0) 100%
        );
  

}
/* Nav Style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-right: 190px;
    margin-left: 190px;
  
  }
  .brand {
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;
  
  }

.nav-link {
    text-decoration: none;
  
  }
.text-white{
    color: white;
    font-weight: 400;
    font-size: 1.125rem;
}

.nav-items {
    list-style: none;
    margin-right: 40px;
  }

  /* Banner Related Styles */
  .banner{
    justify-content: space-between;
    align-items: center;
    margin: 0px 190px;
  }

  .banner-text{
    color: white;
    font-weight: 900;
    font-size: 5rem;
    margin-bottom: 50px;
  }
  .shape{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 5rem;
  }
  .dwn-btn{
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 16px 47px;
    border-radius: 46px;
    background-color: black;
    margin-left: 18px;
    border-color: white;
    }

  .banner-img{
    position: relative;
    margin-top: 80px;
  }
  /* .banner-btn{
    position: absolute;
    width: 100%;
  } */
  


  .btn-1{
    position: absolute;
    width: 193px;
    height: 110px;
    padding: 17px 30px;
    background-color: rgba(111, 111, 112, 0.233);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin-top: -468px;
    margin-left: 210px;
    border-radius: 12px;
    border: none;

  }
  .video-1{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }
  .text-video-1{
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 0.82rem;
  }

  .circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 5px;
  }
  .btn-display{
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: -30px;
  }
  .bt2-text{
    text-align: right;
    margin-top: -60px;
  }
  

  .btn-2{
    position: absolute;
    color: white;
    height: 110px;
    width: 220px;
    padding: 17px 23px;
    background-color: rgba(111, 111, 112, 0.233);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    margin-left: -105px;
    margin-top: -200px;
    border: none;
  }


  .video-2{
    color: white;
    font-weight: 900;
    font-size: 2.5rem;
  }
  .text-video-2{
    color: rgba(255, 255, 255, 0.74);
    font-weight: 400;
    font-size: 1rem;
  }

/* Habbit Styles */
.habbits{
  margin-top: 90px;
}
.text-habbit{
  text-align: center;
  margin: 0px 385px;
}
  

/* BMI Calculator */
.t-color{
  border-collapse: collapse;
  /* border-style: solid;
  border-color: rgba(255, 255, 255, 0.74); */
}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.74) ;
  padding: 7px 12px;
}
.t-head{
  color: white;
  text-align: left;
}